DEPLOYMENT_URL=https://dominiquedockal.github.io
DEPLOYMENT_BRANCH=main
BASE_URL=/My_DocuSaurus_Blog/
GITHUB_ORG=DominiqueDockal
GITHUB_PROJECT=My_DocuSaurus_Blog
GIT_REPOSITORY_URL=https://github.com/DominiqueDockal/My_DocuSaurus_Blog